<!-- This is a partial (reusable view template code)
	so it has an underscore in its filename -->

<%= form_for(@article, html: {multipart: true}) do |f| %>
	<ul>
		<% @article.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :body %><br />
		<%= f.text_area :body %>
	</p>
	<p>
	  <%= f.label :tag_list %><br />
	  <%= f.text_field :tag_list %>
	</p>
	<p>
	  <% if @article.image.exists? %>
	      <%= image_tag @article.image.url %><br/>
	  <% end %>
	  <%= f.label :image, "Attach a New Image" %><br />
	  <%= f.file_field :image %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
