<h1>All articles</h1>

<ul>
	<% if logged_in? %>
		<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
	<% end %>
	<p>Tags: <%= tag_links(Tag.all) %></p>
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article),
				class: 'article_title', id: "article_#{article.id}" %>
		</li>
	<% end %>
</ul>
