<h1><%= @article.title %></h1>
<p>Tags: <%= tag_links(@article.tags) %></p>
<% if @article.image.exists? %>
	<p><%= image_tag @article.image.url %></p>
<% end %>
<p><%= @article.body %></p>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comment', collection: @article.comments %>

<%= render partial: 'comments/form' %><br /><br />

<% if logged_in? %>
	<%= link_to "edit", edit_article_path(@article) %>
	<%= link_to "delete", article_path(@article), method: :delete, confirm: "Really delete the article?" %><br /><br />
<% end %>
<%= link_to "<< Back to Articles List", articles_path %>
